n8n/live/feedback.json
{
  "updatedAt": "2026-02-07T04:35:43.204Z",
  "createdAt": "2026-01-25T13:19:09.478Z",
  "id": "iVsj6dq8UpX5Dk7c",
  "name": "TEST - SOTA 2026 - Feedback V3.1",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rag-v5-feedback",
        "options": {
          "rawBody": false
        }
      },
      "id": "259499c4-286d-4f85-aafc-6caf1b51d66f",
      "name": "Webhook Feedback",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -704,
        352
      ],
      "webhookId": "edeeb4f5-1128-4404-8ccc-d3c0b6ea3891"
    },
    {
      "parameters": {
        "jsCode": "// V3.1: Enhanced Metrics Aggregator with Drift Detection + SOTA 2026 Answer Completeness\nconst body = $node['Webhook Feedback'].json.body || {};\n\n// Validate scores\nconst validateScore = (val) => {\n  const num = parseFloat(val);\n  if (isNaN(num)) return 0;\n  return Math.max(0, Math.min(1, num));\n};\n\n// === CORE METRICS ===\nconst retrievalScore = validateScore(body.retrieval_score);\nconst validationScore = validateScore(body.validation_score);\nconst docId = String(body.source_file || 'unknown').substring(0, 200);\nconst query = String(body.query || '').substring(0, 500);\nconst responseTime = parseInt(body.response_time_ms) || 0;\nconst sourcesCount = parseInt(body.sources_count) || 0;\n\nconst gap = Math.abs(validationScore - retrievalScore);\n\n// === V3.1: RAGAS-STYLE METRICS ===\nconst faithfulness = validateScore(body.faithfulness || validationScore);\nconst answerRelevance = validateScore(body.answer_relevance || retrievalScore);\nconst contextRelevance = validateScore(body.context_relevance || retrievalScore);\nconst contextPrecision = validateScore(body.context_precision || 0.5);\n\n// === SOTA 2026 F01: ANSWER COMPLETENESS ===\nconst rawCompleteness = validateScore(body.answer_completeness || 0);\n// Heuristic fallback: estimate from source coverage * faithfulness\nconst expectedSources = Math.max(1, parseInt(body.expected_sources) || 3);\nconst sourceCoverage = Math.min(1, sourcesCount / expectedSources);\nconst answerCompleteness = rawCompleteness > 0\n  ? rawCompleteness\n  : Math.round(Math.min(1, sourceCoverage * faithfulness * 1.1) * 1000) / 1000;\n\n// Combined RAGAS score (5 dimensions including answer completeness)\nconst ragasScore = (faithfulness + answerRelevance + contextRelevance + contextPrecision + answerCompleteness) / 5;\n\n// === V3.1: DRIFT DETECTION ===\n// Get historical baseline from static data\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.metrics) {\n  staticData.metrics = {\n    avgGap: 0.15,\n    avgRagas: 0.75,\n    avgResponseTime: 2000,\n    avgCompleteness: 0.7,\n    queryCount24h: 100,\n    knownTopics: [],\n    lastUpdated: null\n  };\n}\n\nconst baseline = staticData.metrics;\nconst driftSignals = [];\n\n// Performance drift\nconst performanceDrift = ragasScore - baseline.avgRagas;\nif (performanceDrift < -0.1) {\n  driftSignals.push({\n    type: 'PERFORMANCE_DRIFT',\n    severity: performanceDrift < -0.2 ? 'HIGH' : 'MEDIUM',\n    detail: `RAGAS score dropped: ${ragasScore.toFixed(2)} vs baseline ${baseline.avgRagas.toFixed(2)}`\n  });\n}\n\n// Gap drift\nconst gapDrift = gap - baseline.avgGap;\nif (gapDrift > 0.1) {\n  driftSignals.push({\n    type: 'GAP_DRIFT',\n    severity: gapDrift > 0.2 ? 'HIGH' : 'MEDIUM',\n    detail: `Gap increased: ${gap.toFixed(2)} vs baseline ${baseline.avgGap.toFixed(2)}`\n  });\n}\n\n// Latency drift\nif (responseTime > baseline.avgResponseTime * 2) {\n  driftSignals.push({\n    type: 'LATENCY_DRIFT',\n    severity: responseTime > baseline.avgResponseTime * 3 ? 'HIGH' : 'MEDIUM',\n    detail: `Response time: ${responseTime}ms vs baseline ${baseline.avgResponseTime}ms`\n  });\n}\n\n// SOTA 2026 F01: Completeness drift\nconst completenessDrift = answerCompleteness - (baseline.avgCompleteness || 0.7);\nif (completenessDrift < -0.15) {\n  driftSignals.push({\n    type: 'COMPLETENESS_DRIFT',\n    severity: completenessDrift < -0.25 ? 'HIGH' : 'MEDIUM',\n    detail: `Answer completeness dropped: ${answerCompleteness.toFixed(2)} vs baseline ${(baseline.avgCompleteness || 0.7).toFixed(2)}`\n  });\n}\n\n// Topic drift (detect new topics)\nconst queryTopics = query.toLowerCase().split(' ').filter(w => w.length > 4);\nconst newTopics = queryTopics.filter(t => !baseline.knownTopics.includes(t));\nif (newTopics.length > 3) {\n  driftSignals.push({\n    type: 'TOPIC_DRIFT',\n    severity: 'LOW',\n    detail: `Potential new topics detected: ${newTopics.slice(0, 5).join(', ')}`\n  });\n}\n\n// === ALERTS ===\nconst alerts = [];\nif (validationScore > 0.8 && retrievalScore < 0.5) {\n  alerts.push('ALERT_PRECISION: Major correction on business data');\n}\nif (gap > 0.4) {\n  alerts.push('ALERT_GAP: Critical confidence gap detected');\n}\nif (ragasScore < 0.5) {\n  alerts.push('ALERT_QUALITY: Low RAGAS score');\n}\nif (answerCompleteness < 0.3) {\n  alerts.push('ALERT_COMPLETENESS: Answer severely incomplete');\n}\n\n// Combine drift signals into alerts\nfor (const drift of driftSignals) {\n  if (drift.severity === 'HIGH') {\n    alerts.push(`DRIFT_${drift.type}: ${drift.detail}`);\n  }\n}\n\n// Determine alert level\nlet alertLevel = 'OK';\nif (driftSignals.some(d => d.severity === 'HIGH') || alerts.length > 2) {\n  alertLevel = 'CRITICAL';\n} else if (driftSignals.length > 0 || alerts.length > 0) {\n  alertLevel = 'WARNING';\n}\n\n// === UPDATE BASELINE (rolling average) ===\nconst alpha = 0.1; // Smoothing factor\nstaticData.metrics.avgGap = alpha * gap + (1 - alpha) * baseline.avgGap;\nstaticData.metrics.avgRagas = alpha * ragasScore + (1 - alpha) * baseline.avgRagas;\nstaticData.metrics.avgResponseTime = alpha * responseTime + (1 - alpha) * baseline.avgResponseTime;\nstaticData.metrics.avgCompleteness = alpha * answerCompleteness + (1 - alpha) * (baseline.avgCompleteness || 0.7);\nstaticData.metrics.lastUpdated = new Date().toISOString();\n\n// Add new topics to known topics (keep last 1000)\nstaticData.metrics.knownTopics = [...new Set([...baseline.knownTopics, ...queryTopics])].slice(-1000);\n\nreturn {\n  // Core metrics\n  gap_score: Math.round(gap * 1000) / 1000,\n  retrieval_reliability: retrievalScore,\n  validation_feedback: validationScore,\n  doc_id: docId,\n  query: query,\n  response_time_ms: responseTime,\n  sources_count: sourcesCount,\n  \n  // V3.1 + SOTA 2026: RAGAS metrics with answer completeness\n  ragas: {\n    faithfulness: faithfulness,\n    answer_relevance: answerRelevance,\n    context_relevance: contextRelevance,\n    context_precision: contextPrecision,\n    answer_completeness: answerCompleteness,\n    overall: Math.round(ragasScore * 1000) / 1000\n  },\n  \n  // V3.1: Drift detection\n  drift: {\n    signals: driftSignals,\n    signal_count: driftSignals.length,\n    has_high_severity: driftSignals.some(d => d.severity === 'HIGH')\n  },\n  \n  // Alerts\n  alerts: alerts,\n  alert_level: alertLevel,\n  needs_fix: gap > 0.3 || alertLevel === 'CRITICAL',\n  \n  // Timestamps\n  timestamp: new Date().toISOString()\n};"
      },
      "id": "5e74b224-999d-4edc-90cd-3299676f8d9f",
      "name": "Metrics Aggregator V3.1 (Drift Detection)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        352
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://data.mongodb-api.com/app/data-xxxx/endpoint/data/v1/action/insertOne",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"collection\": \"feedback_logs\",\n  \"database\": \"monitoring_db\",\n  \"dataSource\": \"Cluster0\",\n  \"document\": {\n    \"gap_score\": {{ $json.gap_score }},\n    \"retrieval_precision\": {{ $json.retrieval_reliability }},\n    \"faithfulness\": {{ $json.validation_feedback }},\n    \"doc_id\": \"{{ $json.doc_id }}\",\n    \"alerts\": {{ JSON.stringify($json.alerts) }},\n    \"alert_level\": \"{{ $json.alert_level }}\",\n    \"timestamp\": \"{{ $json.timestamp }}\"\n  }\n}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "51368a4b-fcd8-40c1-b782-028b21600ef0",
      "name": "Store Metrics (MongoDB)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -256,
        352
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "MONGODB_API_CREDENTIAL_ID",
          "name": "MongoDB API Key"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.GENERATION_API_URL || 'https://api.deepseek.com/v1/chat/completions' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $env.GENERATION_MODEL || 'deepseek-chat' }}\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Tu es l'analyseur de qualite RAG avec expertise RAGAS. Analyse les metriques et propose des actions concretes.\\n\\nMETRIQUES RAGAS:\\n- Faithfulness: La reponse est-elle fidele au contexte?\\n- Answer Relevance: La reponse est-elle pertinente a la question?\\n- Context Relevance: Le contexte recupere est-il pertinent?\\n- Context Precision: Les chunks utiles sont-ils bien classes?\\n\\nSois concis et actionnable.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"=== METRIQUES ===\\nGap Score: {{ $node['Metrics Aggregator V3.1 (Drift Detection)'].json.gap_score }}\\nRAGAS Overall: {{ $node['Metrics Aggregator V3.1 (Drift Detection)'].json.ragas?.overall || 'N/A' }}\\nFaithfulness: {{ $node['Metrics Aggregator V3.1 (Drift Detection)'].json.ragas?.faithfulness || 'N/A' }}\\nContext Relevance: {{ $node['Metrics Aggregator V3.1 (Drift Detection)'].json.ragas?.context_relevance || 'N/A' }}\\n\\n=== DRIFT ===\\n{{ JSON.stringify($node['Metrics Aggregator V3.1 (Drift Detection)'].json.drift?.signals || []) }}\\n\\n=== ALERTES ===\\n{{ ($node['Metrics Aggregator V3.1 (Drift Detection)'].json.alerts || []).join(', ') || 'Aucune' }}\\n\\nAnalyse et recommandations:\"\n    }\n  ],\n  \"temperature\": 0.3,\n  \"max_tokens\": 400\n}",
        "options": {
          "timeout": 20000
        }
      },
      "id": "5000395d-0977-4029-92d0-1d802687520e",
      "name": "LLM Feedback Analyzer V3.1 (RAGAS)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -16,
        352
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "4LTtAAr9APWELzN7",
          "name": "OpenAI API Key"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"RAG Monitoring Alert - V3.1\",\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \"\ud83d\udea8 RAG Alert: {{ $node['Metrics Aggregator V3.1 (Drift Detection)'].json.alert_level }}\"\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Gap Score:*\\n{{ $node['Metrics Aggregator V3.1 (Drift Detection)'].json.gap_score }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*RAGAS Score:*\\n{{ $node['Metrics Aggregator V3.1 (Drift Detection)'].json.ragas?.overall || 'N/A' }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Faithfulness:*\\n{{ $node['Metrics Aggregator V3.1 (Drift Detection)'].json.ragas?.faithfulness || 'N/A' }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Drift Signals:*\\n{{ $node['Metrics Aggregator V3.1 (Drift Detection)'].json.drift?.signal_count || 0 }}\"\n        }\n      ]\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Alerts:* {{ ($node['Metrics Aggregator V3.1 (Drift Detection)'].json.alerts || []).join(' | ') || 'None' }}\"\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Analysis:* {{ $json.choices?.[0]?.message?.content?.substring(0, 500) || 'N/A' }}\"\n      }\n    },\n    {\n      \"type\": \"context\",\n      \"elements\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"Document: {{ $node['Metrics Aggregator V3.1 (Drift Detection)'].json.doc_id }} | Response Time: {{ $node['Metrics Aggregator V3.1 (Drift Detection)'].json.response_time_ms }}ms\"\n        }\n      ]\n    }\n  ]\n}",
        "options": {
          "timeout": 5000
        }
      },
      "id": "e240870d-6fb0-487f-b4b1-20cf30e3e5ea",
      "name": "Notify Team V3.1 (Enhanced Slack)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        240,
        240
      ]
    },
    {
      "parameters": {
        "jsCode": "// Shield #10: Auto-Repair Loop Breaker + SOTA 2026 Auto-Action on Drift\nconst metricsData = $node['Metrics Aggregator V3.1 (Drift Detection)'].json;\nconst loopCheck = $node['Loop Breaker Check']?.json || {};\nconst gapScore = metricsData.gap_score;\nconst docId = metricsData.doc_id;\nconst repairCount = parseInt(loopCheck.repair_count || 0);\nconst driftSignals = metricsData.drift?.signals || [];\nconst hasHighDrift = metricsData.drift?.has_high_severity || false;\n\nconst MAX_REPAIRS_24H = 3;\nconst COOLDOWN_7D = 7 * 24 * 3600 * 1000;\n\n// === LOOP BREAKER: Check repair limit first ===\nif (repairCount >= MAX_REPAIRS_24H) {\n  return {\n    action: 'ESCALATE',\n    file: docId,\n    reason: `Max repairs (${MAX_REPAIRS_24H}) reached in 24h - escalating to data-team`,\n    gap_score: gapScore,\n    repair_count: repairCount,\n    cooldown_until: new Date(Date.now() + COOLDOWN_7D).toISOString(),\n    drift_signals: driftSignals\n  };\n}\n\n// === SOTA 2026 F02: Auto-Action on Drift ===\nconst driftActions = [];\nfor (const signal of driftSignals) {\n  switch (signal.type) {\n    case 'PERFORMANCE_DRIFT':\n      driftActions.push({\n        type: signal.severity === 'HIGH' ? 'RE_INDEX' : 'RECOMPUTE_EMBEDDINGS',\n        strategy: signal.severity === 'HIGH' ? 'hi_res' : 'fast',\n        reason: `Performance drift ${signal.severity}: ${signal.detail}`\n      });\n      break;\n    case 'GAP_DRIFT':\n      driftActions.push({\n        type: 'RE_INDEX',\n        strategy: 'semantic_chunking',\n        reason: `Gap drift detected: ${signal.detail}`\n      });\n      break;\n    case 'COMPLETENESS_DRIFT':\n      driftActions.push({\n        type: 'RE_INDEX',\n        strategy: 'hi_res',\n        reason: `Completeness drift: ${signal.detail}`\n      });\n      break;\n    case 'LATENCY_DRIFT':\n      driftActions.push({\n        type: 'OPTIMIZE_INDEX',\n        strategy: 'rebalance',\n        reason: `Latency drift: ${signal.detail}`\n      });\n      break;\n    case 'TOPIC_DRIFT':\n      driftActions.push({\n        type: 'EXPAND_CORPUS',\n        strategy: 'auto_discover',\n        reason: `New topics detected: ${signal.detail}`\n      });\n      break;\n  }\n}\n\n// Determine primary action from HIGH drift signals\nif (hasHighDrift && driftActions.length > 0) {\n  const primaryAction = driftActions.find(a => a.type === 'RE_INDEX') || driftActions[0];\n  return {\n    action: primaryAction.type,\n    file: docId,\n    strategy: primaryAction.strategy || 'auto',\n    reason: primaryAction.reason,\n    gap_score: gapScore,\n    repair_count: repairCount,\n    drift_actions: driftActions,\n    auto_triggered: true\n  };\n}\n\n// === Legacy gap-based trigger ===\nif (gapScore > 0.3 && docId && docId !== 'unknown') {\n  return {\n    action: 'RE_INDEX',\n    file: docId,\n    strategy: 'hi_res',\n    reason: `Gap de confiance > 0.3 - Declenchement re-indexation WF4 (attempt ${repairCount + 1}/${MAX_REPAIRS_24H})`,\n    gap_score: gapScore,\n    repair_count: repairCount,\n    drift_actions: driftActions,\n    auto_triggered: false\n  };\n}\n\nreturn {\n  action: 'NONE',\n  reason: 'No action required',\n  gap_score: gapScore,\n  drift_actions: driftActions,\n  drift_count: driftSignals.length\n};"
      },
      "id": "17e4118b-4429-4e6d-a4a8-0d1fafb28e7a",
      "name": "Auto-Repair Limiter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        464
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "not-none",
              "leftValue": "={{ $json.action }}",
              "rightValue": "NONE",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "not-escalate",
              "leftValue": "={{ $json.action }}",
              "rightValue": "ESCALATE",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "1b7590ba-61f6-43b0-a7fb-6e9f76a64747",
      "name": "Is Repair Needed?",
      "type": "n8n-nodes-base.if",
      "position": [
        688,
        464
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.N8N_BASE_URL }}/webhook/rag-v5-ingestion",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"action\": \"{{ $json.action }}\",\n  \"document_id\": \"{{ $json.file }}\",\n  \"strategy\": \"{{ $json.strategy }}\",\n  \"priority\": \"high\",\n  \"reason\": \"{{ $json.reason }}\",\n  \"auto_triggered\": {{ $json.auto_triggered || false }},\n  \"drift_actions\": {{ JSON.stringify($json.drift_actions || []) }}\n}",
        "options": {
          "timeout": 10000
        }
      },
      "id": "1fdb4c50-8d5b-49d0-b3ad-c15735d7beb6",
      "name": "Trigger WF4 - Deep Re-Indexing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        912,
        464
      ]
    },
    {
      "parameters": {
        "jsCode": "// Implicit Feedback Analyzer - PATCH 7.1\nconst conversationLogs = $input.all();\n\nconst analyzed = conversationLogs.map(log => {\n  const reformulationTime = log.json.reformulation_time_seconds || 0;\n  const hasExplicitFeedback = log.json.explicit_feedback !== undefined;\n  \n  let score = 0.8; // Default good\n  let feedbackType = 'implicit';\n  \n  if (reformulationTime < 30 && reformulationTime > 0) {\n    score = 0.2; // Bad - quick reformulation\n  } else if (reformulationTime < 120 && reformulationTime > 0) {\n    score = 0.5; // Medium\n  }\n  \n  if (hasExplicitFeedback) {\n    score = log.json.explicit_feedback === 'positive' ? 0.95 : 0.1;\n    feedbackType = 'explicit';\n  }\n  \n  const isGoodExample = score >= 0.75;\n  const isBadExample = score <= 0.3;\n  const needsReview = score > 0.3 && score < 0.75;\n  \n  return {\n    json: {\n      conversation_id: log.json.conversation_id,\n      query: log.json.query,\n      response: log.json.response,\n      feedback_score: score,\n      feedback_type: feedbackType,\n      reasoning_path: log.json.reasoning_path || {},\n      is_good_example: isGoodExample,\n      is_bad_example: isBadExample,\n      needs_review: needsReview,\n      created_at: new Date().toISOString()\n    }\n  };\n});\n\nreturn analyzed;"
      },
      "id": "implicit-feedback-analyzer",
      "name": "Implicit Feedback Analyzer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        560
      ]
    },
    {
      "parameters": {
        "schema": "public",
        "table": "rlhf_training_data",
        "columns": {
          "0": "c",
          "1": "o",
          "2": "n",
          "3": "v",
          "4": "e",
          "5": "r",
          "6": "s",
          "7": "a",
          "8": "t",
          "9": "i",
          "10": "o",
          "11": "n",
          "12": "_",
          "13": "i",
          "14": "d",
          "15": ",",
          "16": " ",
          "17": "q",
          "18": "u",
          "19": "e",
          "20": "r",
          "21": "y",
          "22": ",",
          "23": " ",
          "24": "r",
          "25": "e",
          "26": "s",
          "27": "p",
          "28": "o",
          "29": "n",
          "30": "s",
          "31": "e",
          "32": ",",
          "33": " ",
          "34": "f",
          "35": "e",
          "36": "e",
          "37": "d",
          "38": "b",
          "39": "a",
          "40": "c",
          "41": "k",
          "42": "_",
          "43": "s",
          "44": "c",
          "45": "o",
          "46": "r",
          "47": "e",
          "48": ",",
          "49": " ",
          "50": "f",
          "51": "e",
          "52": "e",
          "53": "d",
          "54": "b",
          "55": "a",
          "56": "c",
          "57": "k",
          "58": "_",
          "59": "t",
          "60": "y",
          "61": "p",
          "62": "e",
          "63": ",",
          "64": " ",
          "65": "r",
          "66": "e",
          "67": "a",
          "68": "s",
          "69": "o",
          "70": "n",
          "71": "i",
          "72": "n",
          "73": "g",
          "74": "_",
          "75": "p",
          "76": "a",
          "77": "t",
          "78": "h",
          "79": ",",
          "80": " ",
          "81": "i",
          "82": "s",
          "83": "_",
          "84": "g",
          "85": "o",
          "86": "o",
          "87": "d",
          "88": "_",
          "89": "e",
          "90": "x",
          "91": "a",
          "92": "m",
          "93": "p",
          "94": "l",
          "95": "e",
          "96": ",",
          "97": " ",
          "98": "i",
          "99": "s",
          "100": "_",
          "101": "b",
          "102": "a",
          "103": "d",
          "104": "_",
          "105": "e",
          "106": "x",
          "107": "a",
          "108": "m",
          "109": "p",
          "110": "l",
          "111": "e",
          "112": ",",
          "113": " ",
          "114": "n",
          "115": "e",
          "116": "e",
          "117": "d",
          "118": "s",
          "119": "_",
          "120": "r",
          "121": "e",
          "122": "v",
          "123": "i",
          "124": "e",
          "125": "w",
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "store-rlhf-data",
      "name": "Store RLHF Data",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -256,
        560
      ],
      "credentials": {
        "postgres": {
          "id": "zEr7jPswZNv6lWKu",
          "name": "Supabase PostgreSQL"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) as repair_count FROM repair_history WHERE doc_id = $1 AND repair_date > NOW() - INTERVAL '24 hours'",
        "options": {}
      },
      "id": "loop-breaker-check",
      "name": "Loop Breaker Check",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        240,
        464
      ],
      "credentials": {
        "postgres": {
          "id": "zEr7jPswZNv6lWKu",
          "name": "Supabase PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "content": "# \ud83d\udd27 VARIABLES D'ENVIRONNEMENT REQUISES (SOTA 2026)\n\n## LLM APIs\n- `DEEPSEEK_API_KEY` - API key DeepSeek (api.deepseek.com)\n- `ANTHROPIC_API_KEY` - API key Anthropic (pour planning)\n- `GOOGLE_API_KEY` - API key Google (Gemini Flash)\n\n## LLM URLs (optionnel - d\u00e9fauts inclus)\n- `SQL_GENERATION_API_URL` - URL API pour SQL\n- `INTENT_ANALYSIS_API_URL` - URL API pour intent\n- `PLANNING_API_URL` - URL API pour planning\n- `GENERATION_API_URL` - URL API pour g\u00e9n\u00e9ration\n\n## LLM Models (optionnel)\n- `SQL_GENERATION_MODEL` = deepseek-chat\n- `INTENT_ANALYSIS_MODEL` = deepseek-chat\n- `PLANNING_MODEL` = claude-sonnet-4-5-20250929\n- `GENERATION_MODEL` = deepseek-chat\n\n## Embedding (RECOMMAND\u00c9: self-hosted)\n- `EMBEDDING_API_URL` - URL embedding (d\u00e9faut: OpenAI)\n- `EMBEDDING_MODEL` - text-embedding-3-small \u2192 Qwen3-Embedding-8B\n\n## Reranking (RECOMMAND\u00c9: self-hosted)\n- `RERANKER_API_URL` - URL reranker (d\u00e9faut: Cohere)\n- `RERANKER_MODEL` - rerank-v3 \u2192 Qwen3-Reranker-8B\n\n## Impact estim\u00e9 (selon research):\n- -89% co\u00fbt ingestion\n- -95% co\u00fbt requ\u00eates\n- +3% accuracy SQL (BIRD-SQL)\n- +15 pts MTEB (embedding)\n",
        "height": 600,
        "width": 400
      },
      "id": "env-vars-note",
      "name": "\ud83d\udccb Configuration SOTA 2026",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1200,
        240
      ]
    },
    {
      "parameters": {
        "content": "# WARNING - ISSUE-FBK-06 (P1): Missing Alert Filter\n\nSlack notifications currently fire on EVERY feedback event regardless of alert_level.\n\nTODO (next iteration):\n1. Add an IF node BEFORE Notify Team V3.1 (Enhanced Slack)\n2. Condition: alert_level equals 'CRITICAL' OR alert_level equals 'WARNING'\n3. Suppress 'OK' level notifications to avoid Slack spam\n4. Consider adding rate-limiting (max 1 alert per doc_id per hour)\n\nSeverity: P1 - Important but workflow still functional",
        "height": 300,
        "width": 340,
        "color": 5
      },
      "id": "fbk06-slack-filter-note",
      "name": "TODO: Slack Alert Filter",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        240,
        -60
      ]
    }
  ],
  "connections": {
    "Webhook Feedback": {
      "main": [
        [
          {
            "node": "Metrics Aggregator V3.1 (Drift Detection)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Implicit Feedback Analyzer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Metrics Aggregator V3.1 (Drift Detection)": {
      "main": [
        [
          {
            "node": "Store Metrics (MongoDB)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Metrics (MongoDB)": {
      "main": [
        [
          {
            "node": "LLM Feedback Analyzer V3.1 (RAGAS)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM Feedback Analyzer V3.1 (RAGAS)": {
      "main": [
        [
          {
            "node": "Notify Team V3.1 (Enhanced Slack)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Breaker Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto-Repair Limiter": {
      "main": [
        [
          {
            "node": "Is Repair Needed?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Breaker Check": {
      "main": [
        [
          {
            "node": "Auto-Repair Limiter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Repair Needed?": {
      "main": [
        [
          {
            "node": "Trigger WF4 - Deep Re-Indexing",
            "type": "main",
            "index": 0
          }
        ],
        null
      ]
    },
    "Implicit Feedback Analyzer": {
      "main": [
        [
          {
            "node": "Store RLHF Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true,
    "timeSavedMode": "fixed"
  },
  "staticData": {
    "global": {
      "metrics": {
        "avgGap": 0.38197570394942837,
        "avgRagas": 0.38818182187026173,
        "avgResponseTime": 882.602372472777,
        "avgCompleteness": 0.16399195527660348,
        "queryCount24h": 100,
        "knownTopics": [
          "query",
          "feedback",
          "pipeline",
          "verification",
          "score",
          "contextual",
          "retrieval",
          "improve",
          "precision?",
          "maximum",
          "token",
          "budget",
          "map-reduce?",
          "explain",
          "raptor",
          "hierarchical",
          "summarization",
          "approach",
          "concurrent",
          "rapid",
          "integrity",
          "integrity-1770370566"
        ],
        "lastUpdated": "2026-02-06T09:36:47.807Z"
      }
    }
  },
  "meta": null,
  "pinData": null,
  "versionId": "c849ddcb-db77-47e6-a485-5379d06dd4ea",
  "activeVersionId": "c849ddcb-db77-47e6-a485-5379d06dd4ea",
  "versionCounter": 83,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-01-25T13:19:09.480Z",
      "createdAt": "2026-01-25T13:19:09.480Z",
      "role": "workflow:owner",
      "workflowId": "iVsj6dq8UpX5Dk7c",
      "projectId": "JV7MbqBbWPTstXIo",
      "project": {
        "updatedAt": "2026-01-07T13:20:26.996Z",
        "createdAt": "2026-01-07T13:20:21.870Z",
        "id": "JV7MbqBbWPTstXIo",
        "name": "Alexis Moret <alexis.moret6@outlook.fr>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "215767e0-958a-4c74-a67a-e335807eba64",
        "projectRelations": [
          {
            "updatedAt": "2026-01-07T13:20:21.870Z",
            "createdAt": "2026-01-07T13:20:21.870Z",
            "userId": "215767e0-958a-4c74-a67a-e335807eba64",
            "projectId": "JV7MbqBbWPTstXIo",
            "user": {
              "updatedAt": "2026-02-09T23:01:37.000Z",
              "createdAt": "2026-01-07T13:20:20.003Z",
              "id": "215767e0-958a-4c74-a67a-e335807eba64",
              "email": "alexis.moret6@outlook.fr",
              "firstName": "Alexis",
              "lastName": "Moret",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": true,
                "userClaimedAiCredits": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "e3_89vptJG7PPA-OHyAg3",
                "userActivatedAt": 1767837780144,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1768407850905
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-09",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-02-06T00:34:39.191Z",
    "createdAt": "2026-02-06T00:34:39.191Z",
    "versionId": "c849ddcb-db77-47e6-a485-5379d06dd4ea",
    "workflowId": "iVsj6dq8UpX5Dk7c",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "rag-v5-feedback",
          "options": {
            "rawBody": false
          }
        },
        "id": "259499c4-286d-4f85-aafc-6caf1b51d66f",
        "name": "Webhook Feedback",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          -704,
          352
        ],
        "webhookId": "edeeb4f5-1128-4404-8ccc-d3c0b6ea3891"
      },
      {
        "parameters": {
          "jsCode": "// V3.1: Enhanced Metrics Aggregator with Drift Detection + SOTA 2026 Answer Completeness\nconst body = $node['Webhook Feedback'].json.body || {};\n\n// Validate scores\nconst validateScore = (val) => {\n  const num = parseFloat(val);\n  if (isNaN(num)) return 0;\n  return Math.max(0, Math.min(1, num));\n};\n\n// === CORE METRICS ===\nconst retrievalScore = validateScore(body.retrieval_score);\nconst validationScore = validateScore(body.validation_score);\nconst docId = String(body.source_file || 'unknown').substring(0, 200);\nconst query = String(body.query || '').substring(0, 500);\nconst responseTime = parseInt(body.response_time_ms) || 0;\nconst sourcesCount = parseInt(body.sources_count) || 0;\n\nconst gap = Math.abs(validationScore - retrievalScore);\n\n// === V3.1: RAGAS-STYLE METRICS ===\nconst faithfulness = validateScore(body.faithfulness || validationScore);\nconst answerRelevance = validateScore(body.answer_relevance || retrievalScore);\nconst contextRelevance = validateScore(body.context_relevance || retrievalScore);\nconst contextPrecision = validateScore(body.context_precision || 0.5);\n\n// === SOTA 2026 F01: ANSWER COMPLETENESS ===\nconst rawCompleteness = validateScore(body.answer_completeness || 0);\n// Heuristic fallback: estimate from source coverage * faithfulness\nconst expectedSources = Math.max(1, parseInt(body.expected_sources) || 3);\nconst sourceCoverage = Math.min(1, sourcesCount / expectedSources);\nconst answerCompleteness = rawCompleteness > 0\n  ? rawCompleteness\n  : Math.round(Math.min(1, sourceCoverage * faithfulness * 1.1) * 1000) / 1000;\n\n// Combined RAGAS score (5 dimensions including answer completeness)\nconst ragasScore = (faithfulness + answerRelevance + contextRelevance + contextPrecision + answerCompleteness) / 5;\n\n// === V3.1: DRIFT DETECTION ===\n// Get historical baseline from static data\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.metrics) {\n  staticData.metrics = {\n    avgGap: 0.15,\n    avgRagas: 0.75,\n    avgResponseTime: 2000,\n    avgCompleteness: 0.7,\n    queryCount24h: 100,\n    knownTopics: [],\n    lastUpdated: null\n  };\n}\n\nconst baseline = staticData.metrics;\nconst driftSignals = [];\n\n// Performance drift\nconst performanceDrift = ragasScore - baseline.avgRagas;\nif (performanceDrift < -0.1) {\n  driftSignals.push({\n    type: 'PERFORMANCE_DRIFT',\n    severity: performanceDrift < -0.2 ? 'HIGH' : 'MEDIUM',\n    detail: `RAGAS score dropped: ${ragasScore.toFixed(2)} vs baseline ${baseline.avgRagas.toFixed(2)}`\n  });\n}\n\n// Gap drift\nconst gapDrift = gap - baseline.avgGap;\nif (gapDrift > 0.1) {\n  driftSignals.push({\n    type: 'GAP_DRIFT',\n    severity: gapDrift > 0.2 ? 'HIGH' : 'MEDIUM',\n    detail: `Gap increased: ${gap.toFixed(2)} vs baseline ${baseline.avgGap.toFixed(2)}`\n  });\n}\n\n// Latency drift\nif (responseTime > baseline.avgResponseTime * 2) {\n  driftSignals.push({\n    type: 'LATENCY_DRIFT',\n    severity: responseTime > baseline.avgResponseTime * 3 ? 'HIGH' : 'MEDIUM',\n    detail: `Response time: ${responseTime}ms vs baseline ${baseline.avgResponseTime}ms`\n  });\n}\n\n// SOTA 2026 F01: Completeness drift\nconst completenessDrift = answerCompleteness - (baseline.avgCompleteness || 0.7);\nif (completenessDrift < -0.15) {\n  driftSignals.push({\n    type: 'COMPLETENESS_DRIFT',\n    severity: completenessDrift < -0.25 ? 'HIGH' : 'MEDIUM',\n    detail: `Answer completeness dropped: ${answerCompleteness.toFixed(2)} vs baseline ${(baseline.avgCompleteness || 0.7).toFixed(2)}`\n  });\n}\n\n// Topic drift (detect new topics)\nconst queryTopics = query.toLowerCase().split(' ').filter(w => w.length > 4);\nconst newTopics = queryTopics.filter(t => !baseline.knownTopics.includes(t));\nif (newTopics.length > 3) {\n  driftSignals.push({\n    type: 'TOPIC_DRIFT',\n    severity: 'LOW',\n    detail: `Potential new topics detected: ${newTopics.slice(0, 5).join(', ')}`\n  });\n}\n\n// === ALERTS ===\nconst alerts = [];\nif (validationScore > 0.8 && retrievalScore < 0.5) {\n  alerts.push('ALERT_PRECISION: Major correction on business data');\n}\nif (gap > 0.4) {\n  alerts.push('ALERT_GAP: Critical confidence gap detected');\n}\nif (ragasScore < 0.5) {\n  alerts.push('ALERT_QUALITY: Low RAGAS score');\n}\nif (answerCompleteness < 0.3) {\n  alerts.push('ALERT_COMPLETENESS: Answer severely incomplete');\n}\n\n// Combine drift signals into alerts\nfor (const drift of driftSignals) {\n  if (drift.severity === 'HIGH') {\n    alerts.push(`DRIFT_${drift.type}: ${drift.detail}`);\n  }\n}\n\n// Determine alert level\nlet alertLevel = 'OK';\nif (driftSignals.some(d => d.severity === 'HIGH') || alerts.length > 2) {\n  alertLevel = 'CRITICAL';\n} else if (driftSignals.length > 0 || alerts.length > 0) {\n  alertLevel = 'WARNING';\n}\n\n// === UPDATE BASELINE (rolling average) ===\nconst alpha = 0.1; // Smoothing factor\nstaticData.metrics.avgGap = alpha * gap + (1 - alpha) * baseline.avgGap;\nstaticData.metrics.avgRagas = alpha * ragasScore + (1 - alpha) * baseline.avgRagas;\nstaticData.metrics.avgResponseTime = alpha * responseTime + (1 - alpha) * baseline.avgResponseTime;\nstaticData.metrics.avgCompleteness = alpha * answerCompleteness + (1 - alpha) * (baseline.avgCompleteness || 0.7);\nstaticData.metrics.lastUpdated = new Date().toISOString();\n\n// Add new topics to known topics (keep last 1000)\nstaticData.metrics.knownTopics = [...new Set([...baseline.knownTopics, ...queryTopics])].slice(-1000);\n\nreturn {\n  // Core metrics\n  gap_score: Math.round(gap * 1000) / 1000,\n  retrieval_reliability: retrievalScore,\n  validation_feedback: validationScore,\n  doc_id: docId,\n  query: query,\n  response_time_ms: responseTime,\n  sources_count: sourcesCount,\n  \n  // V3.1 + SOTA 2026: RAGAS metrics with answer completeness\n  ragas: {\n    faithfulness: faithfulness,\n    answer_relevance: answerRelevance,\n    context_relevance: contextRelevance,\n    context_precision: contextPrecision,\n    answer_completeness: answerCompleteness,\n    overall: Math.round(ragasScore * 1000) / 1000\n  },\n  \n  // V3.1: Drift detection\n  drift: {\n    signals: driftSignals,\n    signal_count: driftSignals.length,\n    has_high_severity: driftSignals.some(d => d.severity === 'HIGH')\n  },\n  \n  // Alerts\n  alerts: alerts,\n  alert_level: alertLevel,\n  needs_fix: gap > 0.3 || alertLevel === 'CRITICAL',\n  \n  // Timestamps\n  timestamp: new Date().toISOString()\n};"
        },
        "id": "5e74b224-999d-4edc-90cd-3299676f8d9f",
        "name": "Metrics Aggregator V3.1 (Drift Detection)",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -480,
          352
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://data.mongodb-api.com/app/data-xxxx/endpoint/data/v1/action/insertOne",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"collection\": \"feedback_logs\",\n  \"database\": \"monitoring_db\",\n  \"dataSource\": \"Cluster0\",\n  \"document\": {\n    \"gap_score\": {{ $json.gap_score }},\n    \"retrieval_precision\": {{ $json.retrieval_reliability }},\n    \"faithfulness\": {{ $json.validation_feedback }},\n    \"doc_id\": \"{{ $json.doc_id }}\",\n    \"alerts\": {{ JSON.stringify($json.alerts) }},\n    \"alert_level\": \"{{ $json.alert_level }}\",\n    \"timestamp\": \"{{ $json.timestamp }}\"\n  }\n}",
          "options": {
            "timeout": 10000
          }
        },
        "id": "51368a4b-fcd8-40c1-b782-028b21600ef0",
        "name": "Store Metrics (MongoDB)",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -256,
          352
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "MONGODB_API_CREDENTIAL_ID",
            "name": "MongoDB API Key"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.GENERATION_API_URL || 'https://api.deepseek.com/v1/chat/completions' }}",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"model\": \"{{ $env.GENERATION_MODEL || 'deepseek-chat' }}\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Tu es l'analyseur de qualite RAG avec expertise RAGAS. Analyse les metriques et propose des actions concretes.\\n\\nMETRIQUES RAGAS:\\n- Faithfulness: La reponse est-elle fidele au contexte?\\n- Answer Relevance: La reponse est-elle pertinente a la question?\\n- Context Relevance: Le contexte recupere est-il pertinent?\\n- Context Precision: Les chunks utiles sont-ils bien classes?\\n\\nSois concis et actionnable.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"=== METRIQUES ===\\nGap Score: {{ $node['Metrics Aggregator V3.1 (Drift Detection)'].json.gap_score }}\\nRAGAS Overall: {{ $node['Metrics Aggregator V3.1 (Drift Detection)'].json.ragas?.overall || 'N/A' }}\\nFaithfulness: {{ $node['Metrics Aggregator V3.1 (Drift Detection)'].json.ragas?.faithfulness || 'N/A' }}\\nContext Relevance: {{ $node['Metrics Aggregator V3.1 (Drift Detection)'].json.ragas?.context_relevance || 'N/A' }}\\n\\n=== DRIFT ===\\n{{ JSON.stringify($node['Metrics Aggregator V3.1 (Drift Detection)'].json.drift?.signals || []) }}\\n\\n=== ALERTES ===\\n{{ ($node['Metrics Aggregator V3.1 (Drift Detection)'].json.alerts || []).join(', ') || 'Aucune' }}\\n\\nAnalyse et recommandations:\"\n    }\n  ],\n  \"temperature\": 0.3,\n  \"max_tokens\": 400\n}",
          "options": {
            "timeout": 20000
          }
        },
        "id": "5000395d-0977-4029-92d0-1d802687520e",
        "name": "LLM Feedback Analyzer V3.1 (RAGAS)",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          -16,
          352
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "4LTtAAr9APWELzN7",
            "name": "OpenAI API Key"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.SLACK_WEBHOOK_URL }}",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"text\": \"RAG Monitoring Alert - V3.1\",\n  \"blocks\": [\n    {\n      \"type\": \"header\",\n      \"text\": {\n        \"type\": \"plain_text\",\n        \"text\": \"\ud83d\udea8 RAG Alert: {{ $node['Metrics Aggregator V3.1 (Drift Detection)'].json.alert_level }}\"\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"fields\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Gap Score:*\\n{{ $node['Metrics Aggregator V3.1 (Drift Detection)'].json.gap_score }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*RAGAS Score:*\\n{{ $node['Metrics Aggregator V3.1 (Drift Detection)'].json.ragas?.overall || 'N/A' }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Faithfulness:*\\n{{ $node['Metrics Aggregator V3.1 (Drift Detection)'].json.ragas?.faithfulness || 'N/A' }}\"\n        },\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"*Drift Signals:*\\n{{ $node['Metrics Aggregator V3.1 (Drift Detection)'].json.drift?.signal_count || 0 }}\"\n        }\n      ]\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Alerts:* {{ ($node['Metrics Aggregator V3.1 (Drift Detection)'].json.alerts || []).join(' | ') || 'None' }}\"\n      }\n    },\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*Analysis:* {{ $json.choices?.[0]?.message?.content?.substring(0, 500) || 'N/A' }}\"\n      }\n    },\n    {\n      \"type\": \"context\",\n      \"elements\": [\n        {\n          \"type\": \"mrkdwn\",\n          \"text\": \"Document: {{ $node['Metrics Aggregator V3.1 (Drift Detection)'].json.doc_id }} | Response Time: {{ $node['Metrics Aggregator V3.1 (Drift Detection)'].json.response_time_ms }}ms\"\n        }\n      ]\n    }\n  ]\n}",
          "options": {
            "timeout": 5000
          }
        },
        "id": "e240870d-6fb0-487f-b4b1-20cf30e3e5ea",
        "name": "Notify Team V3.1 (Enhanced Slack)",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          240,
          240
        ]
      },
      {
        "parameters": {
          "jsCode": "// Shield #10: Auto-Repair Loop Breaker + SOTA 2026 Auto-Action on Drift\nconst metricsData = $node['Metrics Aggregator V3.1 (Drift Detection)'].json;\nconst loopCheck = $node['Loop Breaker Check']?.json || {};\nconst gapScore = metricsData.gap_score;\nconst docId = metricsData.doc_id;\nconst repairCount = parseInt(loopCheck.repair_count || 0);\nconst driftSignals = metricsData.drift?.signals || [];\nconst hasHighDrift = metricsData.drift?.has_high_severity || false;\n\nconst MAX_REPAIRS_24H = 3;\nconst COOLDOWN_7D = 7 * 24 * 3600 * 1000;\n\n// === LOOP BREAKER: Check repair limit first ===\nif (repairCount >= MAX_REPAIRS_24H) {\n  return {\n    action: 'ESCALATE',\n    file: docId,\n    reason: `Max repairs (${MAX_REPAIRS_24H}) reached in 24h - escalating to data-team`,\n    gap_score: gapScore,\n    repair_count: repairCount,\n    cooldown_until: new Date(Date.now() + COOLDOWN_7D).toISOString(),\n    drift_signals: driftSignals\n  };\n}\n\n// === SOTA 2026 F02: Auto-Action on Drift ===\nconst driftActions = [];\nfor (const signal of driftSignals) {\n  switch (signal.type) {\n    case 'PERFORMANCE_DRIFT':\n      driftActions.push({\n        type: signal.severity === 'HIGH' ? 'RE_INDEX' : 'RECOMPUTE_EMBEDDINGS',\n        strategy: signal.severity === 'HIGH' ? 'hi_res' : 'fast',\n        reason: `Performance drift ${signal.severity}: ${signal.detail}`\n      });\n      break;\n    case 'GAP_DRIFT':\n      driftActions.push({\n        type: 'RE_INDEX',\n        strategy: 'semantic_chunking',\n        reason: `Gap drift detected: ${signal.detail}`\n      });\n      break;\n    case 'COMPLETENESS_DRIFT':\n      driftActions.push({\n        type: 'RE_INDEX',\n        strategy: 'hi_res',\n        reason: `Completeness drift: ${signal.detail}`\n      });\n      break;\n    case 'LATENCY_DRIFT':\n      driftActions.push({\n        type: 'OPTIMIZE_INDEX',\n        strategy: 'rebalance',\n        reason: `Latency drift: ${signal.detail}`\n      });\n      break;\n    case 'TOPIC_DRIFT':\n      driftActions.push({\n        type: 'EXPAND_CORPUS',\n        strategy: 'auto_discover',\n        reason: `New topics detected: ${signal.detail}`\n      });\n      break;\n  }\n}\n\n// Determine primary action from HIGH drift signals\nif (hasHighDrift && driftActions.length > 0) {\n  const primaryAction = driftActions.find(a => a.type === 'RE_INDEX') || driftActions[0];\n  return {\n    action: primaryAction.type,\n    file: docId,\n    strategy: primaryAction.strategy || 'auto',\n    reason: primaryAction.reason,\n    gap_score: gapScore,\n    repair_count: repairCount,\n    drift_actions: driftActions,\n    auto_triggered: true\n  };\n}\n\n// === Legacy gap-based trigger ===\nif (gapScore > 0.3 && docId && docId !== 'unknown') {\n  return {\n    action: 'RE_INDEX',\n    file: docId,\n    strategy: 'hi_res',\n    reason: `Gap de confiance > 0.3 - Declenchement re-indexation WF4 (attempt ${repairCount + 1}/${MAX_REPAIRS_24H})`,\n    gap_score: gapScore,\n    repair_count: repairCount,\n    drift_actions: driftActions,\n    auto_triggered: false\n  };\n}\n\nreturn {\n  action: 'NONE',\n  reason: 'No action required',\n  gap_score: gapScore,\n  drift_actions: driftActions,\n  drift_count: driftSignals.length\n};"
        },
        "id": "17e4118b-4429-4e6d-a4a8-0d1fafb28e7a",
        "name": "Auto-Repair Limiter",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          464,
          464
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "not-none",
                "leftValue": "={{ $json.action }}",
                "rightValue": "NONE",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              },
              {
                "id": "not-escalate",
                "leftValue": "={{ $json.action }}",
                "rightValue": "ESCALATE",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              }
            ]
          },
          "options": {}
        },
        "id": "1b7590ba-61f6-43b0-a7fb-6e9f76a64747",
        "name": "Is Repair Needed?",
        "type": "n8n-nodes-base.if",
        "position": [
          688,
          464
        ],
        "typeVersion": 2
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ $env.N8N_BASE_URL }}/webhook/rag-v5-ingestion",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"action\": \"{{ $json.action }}\",\n  \"document_id\": \"{{ $json.file }}\",\n  \"strategy\": \"{{ $json.strategy }}\",\n  \"priority\": \"high\",\n  \"reason\": \"{{ $json.reason }}\",\n  \"auto_triggered\": {{ $json.auto_triggered || false }},\n  \"drift_actions\": {{ JSON.stringify($json.drift_actions || []) }}\n}",
          "options": {
            "timeout": 10000
          }
        },
        "id": "1fdb4c50-8d5b-49d0-b3ad-c15735d7beb6",
        "name": "Trigger WF4 - Deep Re-Indexing",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          912,
          464
        ]
      },
      {
        "parameters": {
          "jsCode": "// Implicit Feedback Analyzer - PATCH 7.1\nconst conversationLogs = $input.all();\n\nconst analyzed = conversationLogs.map(log => {\n  const reformulationTime = log.json.reformulation_time_seconds || 0;\n  const hasExplicitFeedback = log.json.explicit_feedback !== undefined;\n  \n  let score = 0.8; // Default good\n  let feedbackType = 'implicit';\n  \n  if (reformulationTime < 30 && reformulationTime > 0) {\n    score = 0.2; // Bad - quick reformulation\n  } else if (reformulationTime < 120 && reformulationTime > 0) {\n    score = 0.5; // Medium\n  }\n  \n  if (hasExplicitFeedback) {\n    score = log.json.explicit_feedback === 'positive' ? 0.95 : 0.1;\n    feedbackType = 'explicit';\n  }\n  \n  const isGoodExample = score >= 0.75;\n  const isBadExample = score <= 0.3;\n  const needsReview = score > 0.3 && score < 0.75;\n  \n  return {\n    json: {\n      conversation_id: log.json.conversation_id,\n      query: log.json.query,\n      response: log.json.response,\n      feedback_score: score,\n      feedback_type: feedbackType,\n      reasoning_path: log.json.reasoning_path || {},\n      is_good_example: isGoodExample,\n      is_bad_example: isBadExample,\n      needs_review: needsReview,\n      created_at: new Date().toISOString()\n    }\n  };\n});\n\nreturn analyzed;"
        },
        "id": "implicit-feedback-analyzer",
        "name": "Implicit Feedback Analyzer",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -480,
          560
        ]
      },
      {
        "parameters": {
          "schema": "public",
          "table": "rlhf_training_data",
          "columns": {
            "0": "c",
            "1": "o",
            "2": "n",
            "3": "v",
            "4": "e",
            "5": "r",
            "6": "s",
            "7": "a",
            "8": "t",
            "9": "i",
            "10": "o",
            "11": "n",
            "12": "_",
            "13": "i",
            "14": "d",
            "15": ",",
            "16": " ",
            "17": "q",
            "18": "u",
            "19": "e",
            "20": "r",
            "21": "y",
            "22": ",",
            "23": " ",
            "24": "r",
            "25": "e",
            "26": "s",
            "27": "p",
            "28": "o",
            "29": "n",
            "30": "s",
            "31": "e",
            "32": ",",
            "33": " ",
            "34": "f",
            "35": "e",
            "36": "e",
            "37": "d",
            "38": "b",
            "39": "a",
            "40": "c",
            "41": "k",
            "42": "_",
            "43": "s",
            "44": "c",
            "45": "o",
            "46": "r",
            "47": "e",
            "48": ",",
            "49": " ",
            "50": "f",
            "51": "e",
            "52": "e",
            "53": "d",
            "54": "b",
            "55": "a",
            "56": "c",
            "57": "k",
            "58": "_",
            "59": "t",
            "60": "y",
            "61": "p",
            "62": "e",
            "63": ",",
            "64": " ",
            "65": "r",
            "66": "e",
            "67": "a",
            "68": "s",
            "69": "o",
            "70": "n",
            "71": "i",
            "72": "n",
            "73": "g",
            "74": "_",
            "75": "p",
            "76": "a",
            "77": "t",
            "78": "h",
            "79": ",",
            "80": " ",
            "81": "i",
            "82": "s",
            "83": "_",
            "84": "g",
            "85": "o",
            "86": "o",
            "87": "d",
            "88": "_",
            "89": "e",
            "90": "x",
            "91": "a",
            "92": "m",
            "93": "p",
            "94": "l",
            "95": "e",
            "96": ",",
            "97": " ",
            "98": "i",
            "99": "s",
            "100": "_",
            "101": "b",
            "102": "a",
            "103": "d",
            "104": "_",
            "105": "e",
            "106": "x",
            "107": "a",
            "108": "m",
            "109": "p",
            "110": "l",
            "111": "e",
            "112": ",",
            "113": " ",
            "114": "n",
            "115": "e",
            "116": "e",
            "117": "d",
            "118": "s",
            "119": "_",
            "120": "r",
            "121": "e",
            "122": "v",
            "123": "i",
            "124": "e",
            "125": "w",
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "id": "store-rlhf-data",
        "name": "Store RLHF Data",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.4,
        "position": [
          -256,
          560
        ],
        "credentials": {
          "postgres": {
            "id": "zEr7jPswZNv6lWKu",
            "name": "Supabase PostgreSQL"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT COUNT(*) as repair_count FROM repair_history WHERE doc_id = $1 AND repair_date > NOW() - INTERVAL '24 hours'",
          "options": {}
        },
        "id": "loop-breaker-check",
        "name": "Loop Breaker Check",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.4,
        "position": [
          240,
          464
        ],
        "credentials": {
          "postgres": {
            "id": "zEr7jPswZNv6lWKu",
            "name": "Supabase PostgreSQL"
          }
        }
      },
      {
        "parameters": {
          "content": "# \ud83d\udd27 VARIABLES D'ENVIRONNEMENT REQUISES (SOTA 2026)\n\n## LLM APIs\n- `DEEPSEEK_API_KEY` - API key DeepSeek (api.deepseek.com)\n- `ANTHROPIC_API_KEY` - API key Anthropic (pour planning)\n- `GOOGLE_API_KEY` - API key Google (Gemini Flash)\n\n## LLM URLs (optionnel - d\u00e9fauts inclus)\n- `SQL_GENERATION_API_URL` - URL API pour SQL\n- `INTENT_ANALYSIS_API_URL` - URL API pour intent\n- `PLANNING_API_URL` - URL API pour planning\n- `GENERATION_API_URL` - URL API pour g\u00e9n\u00e9ration\n\n## LLM Models (optionnel)\n- `SQL_GENERATION_MODEL` = deepseek-chat\n- `INTENT_ANALYSIS_MODEL` = deepseek-chat\n- `PLANNING_MODEL` = claude-sonnet-4-5-20250929\n- `GENERATION_MODEL` = deepseek-chat\n\n## Embedding (RECOMMAND\u00c9: self-hosted)\n- `EMBEDDING_API_URL` - URL embedding (d\u00e9faut: OpenAI)\n- `EMBEDDING_MODEL` - text-embedding-3-small \u2192 Qwen3-Embedding-8B\n\n## Reranking (RECOMMAND\u00c9: self-hosted)\n- `RERANKER_API_URL` - URL reranker (d\u00e9faut: Cohere)\n- `RERANKER_MODEL` - rerank-v3 \u2192 Qwen3-Reranker-8B\n\n## Impact estim\u00e9 (selon research):\n- -89% co\u00fbt ingestion\n- -95% co\u00fbt requ\u00eates\n- +3% accuracy SQL (BIRD-SQL)\n- +15 pts MTEB (embedding)\n",
          "height": 600,
          "width": 400
        },
        "id": "env-vars-note",
        "name": "\ud83d\udccb Configuration SOTA 2026",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -1200,
          240
        ]
      },
      {
        "parameters": {
          "content": "# WARNING - ISSUE-FBK-06 (P1): Missing Alert Filter\n\nSlack notifications currently fire on EVERY feedback event regardless of alert_level.\n\nTODO (next iteration):\n1. Add an IF node BEFORE Notify Team V3.1 (Enhanced Slack)\n2. Condition: alert_level equals 'CRITICAL' OR alert_level equals 'WARNING'\n3. Suppress 'OK' level notifications to avoid Slack spam\n4. Consider adding rate-limiting (max 1 alert per doc_id per hour)\n\nSeverity: P1 - Important but workflow still functional",
          "height": 300,
          "width": 340,
          "color": 5
        },
        "id": "fbk06-slack-filter-note",
        "name": "TODO: Slack Alert Filter",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          240,
          -60
        ]
      }
    ],
    "connections": {
      "Webhook Feedback": {
        "main": [
          [
            {
              "node": "Metrics Aggregator V3.1 (Drift Detection)",
              "type": "main",
              "index": 0
            },
            {
              "node": "Implicit Feedback Analyzer",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Metrics Aggregator V3.1 (Drift Detection)": {
        "main": [
          [
            {
              "node": "Store Metrics (MongoDB)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Store Metrics (MongoDB)": {
        "main": [
          [
            {
              "node": "LLM Feedback Analyzer V3.1 (RAGAS)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "LLM Feedback Analyzer V3.1 (RAGAS)": {
        "main": [
          [
            {
              "node": "Notify Team V3.1 (Enhanced Slack)",
              "type": "main",
              "index": 0
            },
            {
              "node": "Loop Breaker Check",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Auto-Repair Limiter": {
        "main": [
          [
            {
              "node": "Is Repair Needed?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Breaker Check": {
        "main": [
          [
            {
              "node": "Auto-Repair Limiter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Repair Needed?": {
        "main": [
          [
            {
              "node": "Trigger WF4 - Deep Re-Indexing",
              "type": "main",
              "index": 0
            }
          ],
          null
        ]
      },
      "Implicit Feedback Analyzer": {
        "main": [
          [
            {
              "node": "Store RLHF Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Alexis Moret",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-02-06T00:34:39.629Z",
        "id": 455,
        "workflowId": "iVsj6dq8UpX5Dk7c",
        "versionId": "c849ddcb-db77-47e6-a485-5379d06dd4ea",
        "event": "activated",
        "userId": "215767e0-958a-4c74-a67a-e335807eba64"
      },
      {
        "createdAt": "2026-02-06T00:35:36.934Z",
        "id": 460,
        "workflowId": "iVsj6dq8UpX5Dk7c",
        "versionId": "c849ddcb-db77-47e6-a485-5379d06dd4ea",
        "event": "activated",
        "userId": "215767e0-958a-4c74-a67a-e335807eba64"
      },
      {
        "createdAt": "2026-02-06T00:36:03.306Z",
        "id": 465,
        "workflowId": "iVsj6dq8UpX5Dk7c",
        "versionId": "c849ddcb-db77-47e6-a485-5379d06dd4ea",
        "event": "activated",
        "userId": "215767e0-958a-4c74-a67a-e335807eba64"
      },
      {
        "createdAt": "2026-02-06T07:11:53.234Z",
        "id": 470,
        "workflowId": "iVsj6dq8UpX5Dk7c",
        "versionId": "c849ddcb-db77-47e6-a485-5379d06dd4ea",
        "event": "activated",
        "userId": "215767e0-958a-4c74-a67a-e335807eba64"
      },
      {
        "createdAt": "2026-02-06T07:14:37.904Z",
        "id": 477,
        "workflowId": "iVsj6dq8UpX5Dk7c",
        "versionId": "c849ddcb-db77-47e6-a485-5379d06dd4ea",
        "event": "activated",
        "userId": "215767e0-958a-4c74-a67a-e335807eba64"
      },
      {
        "createdAt": "2026-02-06T07:34:07.688Z",
        "id": 483,
        "workflowId": "iVsj6dq8UpX5Dk7c",
        "versionId": "c849ddcb-db77-47e6-a485-5379d06dd4ea",
        "event": "activated",
        "userId": "215767e0-958a-4c74-a67a-e335807eba64"
      },
      {
        "createdAt": "2026-02-06T07:34:43.550Z",
        "id": 488,
        "workflowId": "iVsj6dq8UpX5Dk7c",
        "versionId": "c849ddcb-db77-47e6-a485-5379d06dd4ea",
        "event": "activated",
        "userId": "215767e0-958a-4c74-a67a-e335807eba64"
      },
      {
        "createdAt": "2026-02-06T07:35:13.489Z",
        "id": 493,
        "workflowId": "iVsj6dq8UpX5Dk7c",
        "versionId": "c849ddcb-db77-47e6-a485-5379d06dd4ea",
        "event": "activated",
        "userId": "215767e0-958a-4c74-a67a-e335807eba64"
      },
      {
        "createdAt": "2026-02-06T07:35:40.919Z",
        "id": 498,
        "workflowId": "iVsj6dq8UpX5Dk7c",
        "versionId": "c849ddcb-db77-47e6-a485-5379d06dd4ea",
        "event": "activated",
        "userId": "215767e0-958a-4c74-a67a-e335807eba64"
      },
      {
        "createdAt": "2026-02-07T04:35:43.376Z",
        "id": 603,
        "workflowId": "iVsj6dq8UpX5Dk7c",
        "versionId": "c849ddcb-db77-47e6-a485-5379d06dd4ea",
        "event": "activated",
        "userId": "215767e0-958a-4c74-a67a-e335807eba64"
      }
    ]
  }
}